    <div class="col-md-offset-1 col-md-10 text-center">
        <div class="btn-group btn-group-lg">
            <a href="/" class="btn btn-default">Evolve</a>
            <!--a href="#/history" class="btn btn-default">The story so far</a-->
            <a href="#/primer" class="btn btn-default">The Primer</a>
            <a href="#/recruitment" class="btn btn-default">Recruitment</a>
            <a href="http://eve-evol.com/forums/" class="btn btn-default">Forum</a>
            <a href="https://ncdot.co.uk/" class="btn btn-default">Alliance</a>
            <a href="https://zkillboard.ncdot.co.uk/" class="btn btn-default">Killboard</a>
        </div>
    </div>
