<div class="row">
    <div class="row" id="linkbar" ng-include='"partials/linkbar.html"'></div>
    <div class="row content-spacer">
        <div class="col-md-offset-2 col-md-8 shaded-box">
        <div id="primer">
            <h1>The primer</h1>

            <div ng-show="currentPage==1"><h3>Introduction</h3>
            <p>
            This document is a brief introduction to Evolution, a corporation
            in Eve Online. The information below will provide an outline of how
            Evolution functions and explain the basic guidelines of the corp.
            </p>

            <h3>Evol 101</h3>
            <p>
            Evol is team.<br />
            Evol is not a democracy. Molle runs Evolution.
            </p>

            <h3>Leaders</h3>
            <p>
            There are various directors, more then I shall list here. You will
            get to know them all in due time. What matters most is that the
            directors are just people like you. While they have added
            responsibilities, please keep in mind that they are also playing
            Eve to enjoy themselves.
            </p>


            <h3>Corp Activities</h3>
            <p>
            A common misconception is that Evolution is purely a PvP
            corporation. This is not true, we also have a very large and well
            organised industrial base. Our industrial team and logistics
            division put in a LOT of time, so that we all have the ships we
            need for PvP. Please lend them a hand when asked.
            </p>

            <p>
            Everyone we accept has something they can offer the corp. Inventor?
            Explorer? PI? Making videos? All of these things bring value and
            are useful. We want people who are more than just a member in fleet
            hitting F1.
            </p>

            <p>
            When you are accepted into Evolution, we accept YOU in. Not your
            character, not your toon, you.
            </p>
            </div>
            <div ng-show="currentPage == 2">
            <h3>New recruits</h3>
            <p>
            We do not typically openly recruit. Most of our members are
            referred to us by current members. In Evolution, new members are
            affectionately referred to as "biatches". EachAs a biatch, you will
            have a has a "Daddy,” who will be responsible for you. If you
            need anything or have any questions, you need to let them know.
            </p>

            <h3>Assets</h3>
            <p>
            As a biatch, you are expected to take care of your own in-game
            finances. That said, Evolution is part of an alliance and we may
            have specific doctrine ships that you will be asked to fly.
            Evolution will lend you non-capital, doctrine ships for usage.
            Capital ships will not typically be provided, unless a director
            deems it necessary.
            </p>

            <p>
                Your Daddy will explain doctrines and how ships are checked in and
            out of corp hangars on IRC. Doctrine ships are not to be retained
            in personal hangars, neither by members or biatches.
                </p>

            <p>
                When you become a full member, you are expected to divest your
            assets to Evolution. This would include isk, blueprints, ships etc.
            We are not looking to make you spacepoor or to destroy your game
            experience. When the time comes for you to be made a full member,
            your Daddy and a director will sit down with you and go over your
            assets together, and make a sensible decision. You must be
            comfortable with the fact that it is expected of everyone to
            contribute for the overall good of the corp, so we can keep those
            hangars full of the equipment our members need.
                </p>

            <h3>Members</h3>

            <p>
                Hold very little personal wealth and assets. The exceptions are
            some market traders or industry toons that are working towards corp
            goals and/or running operations pre-approved by Molle. It is ok to
            have interests outside of the corporation, as long as they do not
            conflict with our goals and Evolution is benefiting from the
            operation.
                </p>

            </div>
            <div ng-show="currentPage == 3">
            <p>
                You should keep enough isk to cover basics like your clone in
            emergencies, basic needs etc. As a member, the corp wallet is
            available for you to use if you need to buy non-capital skill
            books. If you need capital skills, speak with a director and they
            will transfer the isk needed to cover them. If the wallet is
            getting low, please poke a director. Outside of basic needs, we do
            ask members to drop isk and other resources to the corp.
                </p>

            <p>
                Evolution isn’t into strict accounting and itemized earning
            reports. We expect members to keep what they need and give the rest
            back to the corp. Evolution provides for you. If the corp needs
            something, we expect members to look through their assets and help
            provide for the corp.
                </p>

            <p>
                The more willingness you show to help the corp, the more room for
            independent action you are given. It isn’t favoritism, it is
            giving people who have proven themselves over time, with words and
            actions, some additional latitude. This latitude will evolve over
            the time you spend in Evolution, and it is earned not given.
                </p>

            <h3>Plex</h3>

            <p>
                We know some of you need to pay for your accounts via plex. If you
            have an out of corp character to do industry, incursions or
            missions, to generate isk for plex, that’s okay. Having you
            logged in and playing with us, is important to us. However, please
            be reasonable and understand if it seems you are more committed to
            your outside interests than to Evolution, you will be asked to
            leave.
                </p>

            <h3>Hangars</h3>

            <p>
                Evolution will supply:
                <ul class="list">
                    <li>Doctrine ships in staging systems.</li>
                    <li>Some roaming options for people in staging system.</li>
                    <li>Doctrine capitals in staging system.</li>
                    <li>A few ships in carebear systems for members.</li>
                    <li>Ships for corp pve (mining) ops.</li>
                    <li>Mods, fuel, ammo for the above ships.</li>
                </ul>
            </div>
            <div ng-show="currentPage == 4">

                Evolution will not supply:
                <ul class="list">
                    <li>Incursion shiny (faction) ships.</li>
                    <li>T3/Faction ships for pve.</li>
                    <li>Personal Capital ships.</li>
                    <li>Plex.</li>
                    <li>High-end learning implants.</li>
                </ul>
            </p>

            <p>
            Evolution may be willing to build/sell you a capital or t2 ship at
            build cost, if production times, supplies and corp needs are
            permitting.
            </p>

            <h3>Hangar divisions</h3>
            <dl>
                <dt>Biatch</dt><dd>Items available to anyone.</dd>
                <dt>Members</dt><dd>Items available to members.</dd>
                <dt>Skattkistan</dt><dd>Storage area for corp assets usually accessed by directors and or people with selective access.</dd>
                <dt>Supercap</dt><dd>Storage area primarily used for supercapital pilots.</dd>
                <dt>POS Stuff</dt><dd>Here we keep stuff for POSs. Fuel, stront, mods etc.</dd>
                <dt>Resource</dt><dd>Minerals, components, ore etc.</dd>
                <dt>Secure</dt><dd>Director access only. We keep BPOs in these hangars, as well as some stocks of high value items. Note - all corp BPOs of significant value are locked down via corp vote. While there are two very old members who have voting rights in case of emergency, Molle is the only person with the rights to unlock any BPOs.</dd>
            </dl>

            </div>
            <div ng-show="currentPage == 5">

            <h3>Corporation/Alliance Ops</h3>
            <p>
            As a part of Evolution, you are a part of the team. We can do
            nothing without you. While we understand there may be times you
            have to handle other matters, we do expect everyone to work
            together and play together. If you are not contributing to the corp
            or are into a loner gaming lifestyle, Evolution may not be a good
            fit for you.
            </p>

            <p>
                Alliance PVP operations take precedence over all isk generation or
            other outside activities. If a CTA (mandatory op) is called, you
            are expected to place everything on hold and respond to the
            alliance’s call for pilots.
                </p>


            <h3>Insurance</h3>
            <p>
            <strong>Biatches</strong> - you insure your own personal ships. If you die, you keep
            your insurance to buy more ships/mods/whatever. (The only deviation
            from this policy will be above referenced doctrine ships). Your
            Daddy will explain the SRP.
            </p>

            <p><strong>Members</strong> - corp policy is 100% insurance coverage for subcaps. Ships
            should be insured from the corp hangar and using corp funds. We do
            not insure Capitals, unless it is deemed prudent by a director.
            Follow all SRP guidelines.
            </p>


            <h3>Forums</h3>
            <p>
            Information is routinely distributed to the corp on our forums. You
            should check these daily.
            </p>

            <h3>Teamspeak</h3>
            <p>Evolution uses teamspeak. You must use it. You simply can't pvp
            without it.</p>

            <p>A few TS basics. Keep TS chatter to a minimum. In fleet operations,
            do not speak unless you have information you feel is vital to the
            fleet commanders' situational awareness. Do not talk about your
            night out, play music, your skill training plans or anything
            non-essential. It is a distraction to all and we do not tolerate
            it. YES, you may be in a channel where someone is doing some of the
            above things. Good for them. We DO NOT. There are
            Evolution-specific channels to chit chat in and get to know your
            corpmates. Use them. Often.</p>
            </div>
            <div ng-show="currentPage == 6">

            <p><strong>Important</strong> - From time to time people in other corps will join us on
            our TS server, or, we may have an opportunity to join them on
            theirs. DO NOT discuss corp information not related to the
            operation at hand. Do NOT discuss our office locations, blueprints,
            sales, plans, internal structure, anything. DO NOT go into other
            corp channels unless invited.</p>


            <h3>IRC/Jabber</h3>
            <p>IRC must be used. This is not optional. We seldom, if ever, use
            ingame chat. If you need help configuring IRC, speak to your Daddy
            or check the forums.</p>

            <p>Jabber is used to notify you of ops and other important issues. If
            you need help setting this up please tell your Daddy.</p>


            <h3>SuperCaps</h3>
            <p>
                Supers and Titan class capital ships are hefty investments. Even
            the skills are hefty investments. As such, there are multiple
            requirements for them, that begin with, but are not limited to:

            <ul class="list">
                <li>Be a full member.</li>
                <li>Must have a dedicated alt character.</li>
                <li>Be very active in game.</li>
                <li>Advise Molle of your desire to fly one.</li>
                <li>Additional information on Supers will be made available on our forums.</li>
            </ul>
            </p>

            <h2 class="text-center">All in all, we work for you, you work for us.</h2>
            </div>
        </div>
            <div class="col-md-12 text-center" style="padding-bottom: 10px;">
                <div class="btn-group">
                    <button type="button" ng-click="changePage(1, $event)"class="btn btn-primary active">Page 1</button>
                    <button type="button" ng-click="changePage(2, $event)"class="btn btn-primary">Page 2</button>
                    <button type="button" ng-click="changePage(3, $event)"class="btn btn-primary">Page 3</button>
                    <button type="button" ng-click="changePage(4, $event)"class="btn btn-primary">Page 4</button>
                    <button type="button" ng-click="changePage(5, $event)"class="btn btn-primary">Page 5</button>
                    <button type="button" ng-click="changePage(6, $event)"class="btn btn-primary">Page 6</button>
                </div>
            </div>
        </div>
    </div>
</div>
