<div class="row">
    <div class="row" id="linkbar" ng-include='"partials/linkbar.html"'></div>
    <div class="row content-spacer">
        <div class="col-md-offset-2 col-md-8 shaded-box">
            <h1>Recruitment</h1>
            <p>
                If you are looking to join Evolution, you should start by reading through the
                <a href="#/primer">primer</a>. If you are still looking to join after that, come hang out with us on
                irc.stratics.com, #eve-evo.
            </p>
            <p class="text-center">
                <a href="irc://irc.stratics.com/eve-evol" class="btn btn-primary">Join #eve-evo</a>
            </p>
            <p>

            </p>
        </div>
    </div>
</div>
